@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
   --font-family: 'Lato', sans-serif;

   --hue-color: 270;
   --bg-btn: hsl(var(--hue-color), 100%, 49%);
   --cl-red: #f55767;
   --cl-blue: #2563ff;
   --cl-green: #40975f;
   --cl-white: #fff;
   --cl-black: #000;
   --bg-light-gray: #f5f7fa;
   --bg-dark-blue: #09142e;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--font-family);
   line-height: 1.5;
   font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
   margin: 10px 0px;
}

p {
   margin: 15px 0px;
   opacity: 0.5;
}

a {
   text-decoration: none;
}

li {
   list-style-type: none;
}

/* ========== Phần có thẻ tái sử dụng ============ */
.content {
   max-width: 900px;
   margin: 0px auto;
}

.center {
   text-align: center;
}

.opacity-0 {
   opacity: 0.5;
}

.opacity-1 {
   opacity: 1;
}

.col-half {
   width: 50%;
}

.col-third {
   width: 33.33%;
}

.row {
   display: flex;
   align-items: center;
}

.bg-btn {
   background-color: var(--bg-btn);
}

.bg-none {
   background-color: transparent;
}

.bg-light {
   background-color: var(--bg-light-gray);
}

.bg-footer {
   background-color: var(--bg-dark-blue);
}

.cl-bg {
   color: var(--bg-btn);
}

.cl-white {
   color: var(--cl-white);
}

.cl-red {
   color: var(--cl-red);
}

.cl-blue {
   color: var(--cl-blue);
}

.cl-green {
   color: var(--cl-green);
}

.pd-8 {
   padding: 0px 8px;
}

.pd-12 {
   padding: 12px;
}

.pd-16 {
   padding: 16px 40px;
}

.pd-20 {
   padding: 20px 0px;
}

.pd-110 {
   padding: 110px 0px;
}

.pd-120 {
   padding-bottom: 120px;
}

.mg-lr {
   margin: 0px 20px;
}

.mg-b {
   margin-bottom: 60px;
}

.mw-4 {
   max-width: 400px;
}

.img-child {
   width: 50px;
   height: 50px;
}

/* ========== Header ============ */

.header {
   position: relative;
}

.header__nav {
   max-width: 1170px;
   margin: 0px auto;
   justify-content: space-between;
   padding-top: 10px;
   background: #fff;
}

.header__logo img {
   width: 100%;
}

.header__toggle {
   font-size: 2rem;
   color: var(--cl-black);
   cursor: pointer;
   display: none;
}

.header__toggle:hover {
   opacity: 0.7;
}

.header__span {
   padding: 4px 30px;
   background: #e2eaed;
   border-radius: 30px;
   position: relative;
}

.header__span i {
   font-size: 18px;
   padding: 0px 6px;
   color: var(--cl-white);
   background: var(--bg-btn);
   border-radius: 30px;
   position: absolute;
   top: 0;
   left: 0;
}

.header__link {
   color: var(--cl-black);
   padding: 8px 20px;
   font-size: 18px;
}

.header__link:hover {
   color: var(--bg-btn);
}

.header__btn {
   font-size: 16px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
}

.header__btn:hover {
   background-color: #ccc;
   color: var(--cl-black);
}

.header__slider {
   position: relative;
   justify-content: space-between;
   padding: 60px 8px;
}

.header__img {
   position: absolute;
   top: 0px;
   width: 60%;
   z-index: -1;
}

.header__img-end {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: -1;
}

.header__phone-img {
   width: 100%;
}

.header__title {
   font-size: 36px;
   letter-spacing: 2px;
}

.header__description {
   letter-spacing: 1px;
}

/* ========== Brand ============ */
.brand {
   margin: 110px 0px;
}

.brand__list {
   justify-content: space-between;
   margin-top: 50px;
}

.brand__img {
   width: 130px;
   padding: 0px 15px;
}

/* ========== Feature ============ */
.features {
   justify-content: space-between;
   position: relative;
}

.features__title {
   font-size: 36px;
   letter-spacing: 2px;
}

.features__img {
   width: 100%;
}

.features .container__img {
   margin-right: 40px;
}

/* ========== smart jackpot ============ */
.jackport__head {
   justify-content: space-between;
}

.jackport__title {
   font-size: 36px;
   letter-spacing: 2px;
   padding-right: 85px;
}

.jackport__content {
   justify-content: space-between;
}

.jackport__description {
   padding: 20px 30px;
   border-left: 1px solid #616161;
}

/* ========== design ============ */
.design {
   justify-content: space-between;
}

.design__title {
   font-size: 36px;
   letter-spacing: 2px;
}

.design__img {
   width: 90%;
}

.design__btn {
   font-size: 16px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
}

.design__btn:hover {
   background-color: #ccc;
   color: var(--cl-black);
}

/* ========== reason ============ */
.reason-content {
   justify-content: space-between;
   margin: 60px 0px;
}

.reason__article {
   max-width: 600px;
   margin: 0px auto;
}

.reason__title {
   font-size: 36px;
   letter-spacing: 2px;
   padding: 0px 70px;
}

.reason__img {
   width: 70px;
   height: 70px;
   margin: 20px 0px;
}

.reason__description {
   padding: 0px 25px;
}

/* ========== Built ============ */

.built__title {
   font-size: 36px;
   letter-spacing: 2px;

}

.built__div-img {
   position: relative;
}

.built__img {
   width: 100%;
}

.built__btn {
   margin-top: 20px;
   border: none;
   font-size: 16px;
   border-radius: 30px;
}

.built__btn:hover {
   background-color: #ccc;
   color: var(--cl-black);
   cursor: pointer;
}

/* ========== Pricing ============ */
.pricing {
   max-width: 710px;
   margin: 0px auto;
}

.pricing__menu {
   padding-top: 60px;
}

.pricing__title {
   padding: 0px 80px;
   font-size: 36px;
   letter-spacing: 2px;
}

.pricing__description {
   padding: 0px 80px;
}

.pricing__month {
   border: 1px solid #ccc;
   border-radius: 30px;
   padding: 4px;
   width: max-content;
   margin: 0 auto;
}

.pricing__btn {
   border: none;
   font-size: 16px;
   border-radius: 30px;
   cursor: pointer;
}

.pricing__btn:nth-child(1):hover {
   background-color: #ccc;
   color: var(--cl-black);
   cursor: pointer;
}

.pricing__list {
   border: 1px solid #ddd;
   cursor: pointer;
   opacity: 0.7;
   transition: 0.6s;
   transform: scale(0.9);
}

.pricing__list:hover {
   transform: scale(1);
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
   opacity: 1;
}

.pricing__list li {
   border-bottom: 1px solid #ddd;
}

.pricing__list-content h3 {
   font-size: 50px;
   font-weight: bold;
}

/* ========== Testimonila ============ */

.test {
   position: relative;
}

.test__title {
   font-size: 36px;
   letter-spacing: 2px;
}

.test__img {
   position: absolute;
   transform: translate(0%, -50%);
   width: 60%;
   z-index: -1;
}

.test__info-img {
   width: 100px;
}

.test__member {
   margin-top: 60px;
}

.test__member .img-child {
   border-radius: 50%;
   margin-right: 50px;
}

/* ========== Frequently ask questions - FAQ ============ */

.faq__menu {
   cursor: pointer;
}

.faq__title {
   font-size: 36px;
   letter-spacing: 2px;
}

.faq__menu li {
   position: relative;
   padding: 16px 50px;
   border-bottom: 6px solid #fff;
}

.faq__list-child li {
   opacity: 0;
   animation: theleft 0.4s ease-in-out forwards;
   animation-delay: calc(0.1s * var(--i));
}

@keyframes theleft {
   0% {
      opacity: 0;
      transform: translateX(-100%);
   }
   100% {
      opacity: 1;
      transform: translateX(0%);
   }
}

.faq__icon {
   position: absolute;
   top: 0;
   right: 0;
   padding: 16px 20px;
   font-size: 20px;
}

.faq__list-child {
   display: none;
}

.faq__list-child.show {
   display: inline-block;
   width: 100%;
}

/* ========== Download ============ */
.download__title {
   font-size: 36px;
   letter-spacing: 2px;
}

.download__app-logo {
   cursor: pointer;
}

.download__content {
   position: relative;
}

.download__img {
   position: absolute;
   width: 100%;
   left: 0;
   transform: translate(0%, -30%);
}

/* ========== Footer ============ */
.footer__link {
   font-size: 18px;
   padding: 8px 20px;
   color: #ccc;
}

.footer__link:hover {
   color: var(--cl-white);
}

.footer__icon {
   font-size: 25px;
   color: #ccc;
}

.footer__icon:hover {
   color: var(--cl-white);
}